.profile__job {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .profile__job {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__job {
    text-align: center;
    font-size: 14px;
  }
}
